{% assign phrase_length = time_phrase.size %}
{% if phrase_length > 30 %}
  {% assign phrase_size = "value--small" %}
{% elsif phrase_length > 18 %}
  {% assign phrase_size = "value--medium" %}
{% elsif phrase_length > 10 %}
  {% assign phrase_size = "value--large" %}
{% else %}
  {% assign phrase_size = "value--xlarge" %}
{% endif %}

<div class="layout layout--col gap--space-between">
  <div class="title_bar">
    <span class="title">Literary Clock</span>
    <span class="instance">{{ display_time }}</span>
  </div>

  <div class="flex flex--center-x flex--center-y grow">
    <div class="text--center">
      <div class="value {{ phrase_size }} text--black text--bold">{{ time_phrase }}</div>
      <div class="description clamp--3 px--2">{{ quote_before }}{{ time_phrase }}{{ quote_after }}</div>
    </div>
  </div>

__QUOTE_FOOTER__
</div>
